@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica;
    background-color: #000;
}

a {
    text-decoration: none;
}

/* Utilites */

.bg-one{
    background-color: #14B8A6;
}

.text-one{
    color: #14B8A6;
}

.text-two{
    color: #9CA3AF;
}

.bg-two{
    background-color: #222222;
}

.hr-bottom{
    position: relative;
    display: inline-block;
}

.hr-bottom::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: #14B8A6;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
}


/* HEADER */


.bg-two a{
    color: #fff !important;
}

.nav-link:hover, .nav-link.active{
    background-color: #14B8A6 !important;
}

/* HOME */

.home{
    background:url('../img/bg-1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 56px;
    height: 90vh;
}

.font-size{
    font-size: 5rem;
}

.font-size-2{
    font-size: 12rem;
}

.outline-text{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 4rem;
    font-weight: 800;
}

/* ABOUT */

/* PRICING */

/* SERVICES */

/* CONTACT */

/* BLOG */

/* FOOTER */


@media (max-width: 768px) {
    .font-size{
        font-size: 3rem;
    }

    .font-size-2{
        font-size: 6rem;
    }

    .outline-text{
        font-size: 2rem;
    }
}


